* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9e9e9;
}

/* Navbar */
.nav-container {
  width: 80%;
  background-color: #535353;
  padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.4rem;
}

.home-link {
  margin-right: 2rem;
  margin-left: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.links-container {
  display: flex;
  gap: 1.2rem;
  margin-right: 1.5rem;
}
.links-container a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.3s;
}
.links-container a:hover {
  color: #1296f3;
}

/* Search bar */
.search-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  text-align: center;
}
.search-box form {
  display: inline-block;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-box input[type="text"] {
  border: none;
  padding: 10px 20px;
  margin: 0;
  outline: none;
  font-size: 16px;
}
.search-box button {
  border: none;
  background: transparent;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-left: solid 2px #cecece;
  transition-duration: 0.4s;
}
.search-box button:hover {
  background-color: #535353;
  color: #fff;
}

/* All entries */
.content {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  width: 80%;
  margin-top: 1.3rem;
  padding: 1.5rem;
}
.content h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.content p {
  margin-bottom: 0.4rem;
  font-style: italic;
}
.content hr {
  margin-bottom: 1.5rem;
  height: 0.2rem;
  background-color: #00000056;
  border-radius: 0.4rem;
  border: none;
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}
.content ul li {
  padding: 8px 16px;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
}
.content ul li a {
  text-decoration: none;
  color: #000;
  display: block;
}
.content ul li:hover {
  background-color: #e9e9e9;
}

/* Search Result */
.search-content {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  width: 80%;
  margin-top: 1.3rem;
  padding: 1.5rem;
}
.search-content h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.search-content hr {
  margin-bottom: 1.5rem;
  height: 0.2rem;
  background-color: #00000056;
  border-radius: 0.4rem;
  border: none;
}
.search-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}
.search-content ul li {
  padding: 8px 16px;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
}
.search-content ul li a {
  text-decoration: none;
  color: #000;
  display: block;
}
.search-content ul li:hover {
  background-color: #e9e9e9;
}

/* Entries */
.entry-content {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 0.4rem;
    width: 80%;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }
  .entry-content h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }
  .entry-content hr {
    margin-bottom: 1.5rem;
    height: 0.2rem;
    background-color: #00000056;
    border-radius: 0.4rem;
    border: none;
  }
  .entry-content .edit-btn {
    margin-top: 1.4rem;
  }
  .entry-content .edit-btn a{
    background-color: #535353;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 9px 20px;
    border-radius: 0.4rem;
    transition-duration: 0.4s;
  }
  .entry-content .edit-btn a:hover{
    background-color: #707070;
  }
  .entry-content #content{
    font-size: large;
  }

  /* New Entry */
.new-article-content {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 0.4rem;
    width: 80%;
    margin-top: 1.3rem;
    padding: 1.5rem;
  }
  .new-article-content h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }
  .new-article-content hr {
    margin-bottom: 1.5rem;
    height: 0.2rem;
    background-color: #00000056;
    border-radius: 0.4rem;
    border: none;
  }
.new-article-content label {
    display: block;
    margin-top: 2rem; 
    font-weight: bold;
    font-size: 1.3rem;
}
.new-article-content input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 3px solid #ddd; 
    border-radius: 0.4rem; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}
.new-article-content input[type="submit"] {
    background-color: #535353; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
    width: auto;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    padding: 10px 40px;
    border-radius: 0.4rem;
    transition-duration: 0.4s;
}
.new-article-content input[type="submit"]:hover {
    background-color: #707070;
}

/* Edit Entry */
.edit-content {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 0.4rem;
    width: 80%;
    margin-top: 1.3rem;
    padding: 1.5rem;
  }
  .edit-content h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }
  .edit-content hr {
    margin-bottom: 1.5rem;
    height: 0.2rem;
    background-color: #00000056;
    border-radius: 0.4rem;
    border: none;
  }
  .edit-content label {
    display: block;
    margin-top: 2rem; 
    font-weight: bold;
    font-size: 1.3rem;
}
.edit-content input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 3px solid #ddd; 
    border-radius: 0.4rem; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}
.edit-content input[type="submit"] {
    background-color: #535353; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
    width: auto;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    padding: 10px 40px;
    border-radius: 0.4rem;
    transition-duration: 0.4s;
}
.edit-content input[type="submit"]:hover {
    background-color: #707070;
}
.edit-content .cancel-btn{
    margin-top: 1.4rem;
}
.edit-content .cancel-btn a {
    background-color: rgb(221, 32, 32);
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 10px 40px;
    border-radius: 0.4rem;
    transition-duration: 0.4s;
}