<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Knowpedia</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="nav-container">
        <a href="{{ url_for('index') }}" class="home-link">KNOWPEDIA</a>
        <div class="links-container">
          <a href="{{ url_for('new_entry') }}">Create New Entry</a>
          <a href="{{ url_for('random_entry') }}">Random Entry</a>
        </div>
      </div>
      <div class="search-box">
        <form action="{{ url_for('search') }}" method="get">
          <input type="text" name="q" placeholder="Search..." />
          <button type="submit">Search</button>
        </form>
      </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
