{% extends "base.html" %} {% block content %}
<div class="edit-content">
  <h1>Edit Entry</h1>
  <hr/>
  <form action="{{ url_for('edit_entry') }}" method="post">
    <input type="hidden" name="original_title" value="{{ title }}" />
    <label for="title">Title:</label><br />
    <input
      type="text"
      id="title"
      name="title"
      value="{{ title }}"
      required
    /><br />
    <label for="content">Content:</label><br />
    <textarea id="content" name="content" rows="10" cols="30" required>
{{ content }}</textarea
    ><br />
    <input type="submit" value="Save Changes" />
  </form>
  <div class="cancel-btn">
  <a href="{{ url_for('entry', title=title) }}">Cancel</a>
</div>
</div>
{% endblock %}
